<%- include("header") -%>

    <div class="container py-1">
        <h2>Add New Post</h2>
        <form action="/addpost" method="POST">
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Post Title</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" name="ptitle"
                    placeholder="Post Title" required>
            </div>
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Post Content</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" name="pcont" rows="3"
                    placeholder="Post Content" required></textarea>
            </div>
            <button type="submit" name="Add" class="btn btn-primary mb-3">Add Post</button>
        </form>

    </div>




    <%- include("footer") -%>